*{
    margin: 0;
    padding: 0;
    color: blanchedalmond;
}
body{
    height: 100vh;
    width: 95vw;
    display: flex;
    align-items: center;
    background-color: rgb(32, 32, 32);
    justify-content: center;

}
button{
    background-color: transparent;
    border: 2px solid coral;
    border-radius: 15px;
    width: 130px;
    height: 130px;
    outline: none;
    margin: 5px 0 5px 0;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
button:hover{
    background-color: rgba(166, 189, 166, 0.883);
    cursor: pointer;
}
#container{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    border: 3px solid bisque;
    border-radius: 20px;
    padding: 20px;
    width: 80vw;
    
}
#btnContainer{
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}